.vscode/**
.vscode-test/**
out/test/**
node_modules/**
!node_modules/axios/**
!node_modules/follow-redirects/**
!node_modules/form-data/**
!node_modules/asynckit/**
!node_modules/combined-stream/**
!node_modules/mime-types/**
!node_modules/delayed-stream/**
!node_modules/mime-db/**

src/**
data/**
ps1Scripts/**

.gitignore
.eslintrc.json
.gitattributes
tsconfig.json

assets/images/**

webview-ui/commandsList/src/**
webview-ui/commandsList/public/**
webview-ui/commandsList/scripts/**
webview-ui/commandsList/index.html
webview-ui/commandsList/package.json
webview-ui/commandsList/package-lock.json
webview-ui/commandsList/node_modules/**

webview-ui/docsView/src/**
webview-ui/docsView/public/**
webview-ui/docsView/scripts/**
webview-ui/docsView/index.html
webview-ui/docsView/package.json
webview-ui/docsView/package-lock.json
webview-ui/docsView/node_modules/**

webview-ui/samplesView/src/**
webview-ui/samplesView/public/**
webview-ui/samplesView/scripts/**
webview-ui/samplesView/index.html
webview-ui/samplesView/package.json
webview-ui/samplesView/package-lock.json
webview-ui/samplesView/node_modules/**