.pnp-commands-list ul {
    padding: 0;
    list-style: inside;
}

.pnp-commands-list ul li {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.pnp-commands-list-controls { 
    position: fixed;
    top: 0;
    min-height: 70px;
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
}

.pnp-commands-list-wrapper { 
    padding-top: 60px;
}