.docs-header {
    text-align: right;
    padding-right: 50px;
}

.copy-code {
    background: rgba(0,0,0,0.05);
    padding: 10px 7px 7px;
    box-shadow: 0px 0px 5px #111;
}

.copy-code vscode-button {
    float: right;
    margin-top: -10px;
}

.copy-code pre code {
    word-break: break-word;
    white-space: break-spaces;
}